// Document List Shared Styling
.doc-list {
  margin: 0;
  padding: 0;

  li {
    @include flex-box();
    @include flex-direction(row);
    background: #f7f8fa;

    + li {
      margin-top: 2px;
    }
  }

  .cell {
    padding: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;

    // Text Content
    &__txt-content {
      margin-top: 0.3rem;
      display: inline-block;
      white-space: nowrap;

      a {
        text-decoration: underline;
        color: #007bff;
        cursor: default;
      }
    }

    // Icon Column
    &.icon {
      @include flex(0 0 auto);
      padding-right: 0;
      color: #007bff;
  
      i {
        margin-top: 0.3rem;
        font-size: 1.35rem;
        cursor: default;
      }
    }
  
    // Name Column
    &.name {
      @include flex(1 1 auto);
      font-size: 0.875rem;
    }

    // Actions Column
    &.actions {
      @include flex(0 0 auto);

      [class^="btn"] {
        height: 2rem;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        border: transparent;
    
        &:not(:hover) {
          background: transparent;
        }
    
        &:disabled {
          opacity: 0.2;
        }
      }
    }
  }
}