<div class="top-container">
  <div class="container">
    <div class="title-container">
      <h1 class="title-container__title">
        <span class="text-muted">Crown Land File: {{application.cl_file}}  &nbsp;&rsaquo;&nbsp; </span> {{!application._id ? 'Create Public Review' : 'Edit Public Review'}}
      </h1>
      <div class="title-container__actions">
        <button class="btn btn-light" type="button" title="Cancel changes" (click)="cancelChanges()">
          Cancel
        </button>
        <button class="btn btn-primary" type="button" title="Submit new application" 
          *ngIf="!application._id" (click)="addApplication()" [disabled]="isSubmitting">
          <i class="spinner rotating" [hidden]="!isSubmitting"></i>
          <span>{{isSubmitting ? 'Submitting' : 'Submit'}}</span>
        </button>
        <button class="btn btn-primary" type="button" title="Save application" 
          *ngIf="application._id" (click)="saveApplication()" [disabled]="isSaving">
          <i class="spinner rotating" [hidden]="!isSaving"></i>
          <span>{{isSaving ? 'Saving' : 'Save'}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
  
<div class="bottom-container">
  <div class="container">
    <form class="mb-3" #applicationForm="ngForm">
      <fieldset>
        <legend>Public Review</legend>
        <div class="review-dates">
          <div class="form-group mb-0">
            <label>Start Date (required)</label>
            <input class="form-control" type="date" name="startDate" required aria-required="true" [ngModel]="startDate" (ngModelChange)="onStartDateChg($event)" />
          </div>
          <span class="spacer">+</span>
          <div class="form-group mb-0">
            <label>Days (required)</label>
            <input class="form-control" type="number" name="delta" required aria-required="true" [ngModel]="delta" (ngModelChange)="onDeltaChg($event)" />
          </div>
          <span class="spacer">=</span>
          <div class="form-group mb-0">
            <label>End Date (required)</label>
            <input class="form-control" type="date" name="endDate" required aria-required="true" [ngModel]="endDate" (ngModelChange)="onEndDateChg($event)" />
          </div>
        </div>
        <!-- Need decision from PO -->
        <!--
        <div class="form-group">
          <label>Description (Optional)</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group mb-0">
          <label>Internal Notes (Optional)</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        -->
      </fieldset>

      <fieldset>
        <legend>Application Details</legend>
        <div class="form-group">
          <label>Applicant</label>
          <div class="input-group applicant-input">
            <input class="form-control" type="text" name="applicant" readonly required aria-required="true" [ngModel]="application.client" #applicant="ngModel" />
            <span class="input-group-btn">
              <button class="btn btn-light" type="button" (click)="selectClient()">
                <span>{{application.client ? 'Change Applicant' : 'Select Applicant'}}</span>
              </button>
            </span>
          </div>
          <div *ngIf="isSubmitSaveClicked" class="alert alert-danger">
            <div *ngIf="applicant.invalid">Applicant is invalid</div>
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="3" id="description" name="description"
            #description="ngModel" 
            [(ngModel)]="application.description">
          </textarea>
        </div>
        <div class="form-group">
          <label>Application Documents</label>
          <ul class="doc-list mb-3" *ngIf="application.documents?.length > 0">
              <li *ngFor="let doc of application.documents">
                <span class="cell icon">
                  <i class="material-icons">insert_drive_file</i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">{{doc.documentFileName}}</span>
                </span>
                <span class="cell actions">
                  <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc, application.documents)">
                    <i class="material-icons">delete</i>
                  </button>
                </span>
              </li>
          </ul>
          <div class="file-upload">
            <input type="file" name="fileInput1" size="5000000" multiple #fileInput1
              (change)="addDocuments($event.target.files, application.documents);fileInput1.value=null">
            <div class="file-upload__target">
              <span class="file-upload__prompt">
                <i class="file-upload__prompt-icon material-icons">file_upload</i>
                <span class="file-upload__prompt-msg">Drop files to attach, or <strong>browse</strong>.</span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group mb-0">
          <label>Internal Notes (Optional)</label>
          <textarea class="form-control" rows="3" id="internalNotes" name="internalNotes" 
            #internalNotes="ngModel" 
            [(ngModel)]="application.internal.notes">
          </textarea>
        </div>
      </fieldset>

      <fieldset name="decisionForm" id="appDecision">
        <legend class="mb-3">Application Decision</legend>
        <button class="btn content-btn-alt" type="button" title="Add decision"
          *ngIf="!application.decision"
          (click)="addDecision()">
          <i class="material-icons">add</i>
          Add Decision
        </button>
        
        <!-- Clicking the ADD DECISION button from the details page should add the form to this page AND validate on the SAVE button click event -->
        <div *ngIf="application.decision">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" name="decisionDesc" id="decisionDesc" required aria-required="true" #decisionDesc="ngModel"
              [(ngModel)]="application.decision.description">
            </textarea>
          </div>

          <div class="form-group mb-0">
            <label>Decision Documents</label>
            <ul class="doc-list mb-3" *ngIf="application.decision.documents?.length > 0">
              <li *ngFor="let doc of application.decision.documents">
                <span class="cell icon">
                  <i class="material-icons">insert_drive_file</i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">
                    {{doc.documentFileName}}
                  </span>
                </span>
                <span class="cell actions">
                  <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc, application.decision.documents)">
                    <i class="material-icons">delete</i>
                  </button>
                </span>
              </li>
            </ul>
            <div class="file-upload">
              <input type="file" name="fileInput2" size="5000000" multiple #fileInput2
                (change)="addDocuments($event.target.files, application.decision.documents);fileInput2.value=null">
              <div class="file-upload__target">
                <span class="file-upload__prompt">
                  <i class="file-upload__prompt-icon material-icons">file_upload</i>
                  <span class="file-upload__prompt-msg">Drop files to attach, or <em>browse</em>.</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>