<div class="top-container">
    <div class="container">
      <div class="title-container">
        <h1 class="title-container__title">Crown Land File: {{application.cl_file}}</h1>
        <div class="title-container__actions">
          <!--
          <button class="btn btn-light" type="button" title="Cancel changes and return to previous page" 
            [routerLink]="application._id === '0' ? ['../'] : ['/search']">
            Cancel
          </button>
          -->
          <button class="btn btn-light" type="button" [routerLink]="['/a', application._id, 'edit']">
            Edit
          </button>
          <button class="btn btn-primary" type="button" *ngIf="application.isPublished === false" (click)="publishApplication()" [disabled]="isPublishing">
            {{isPublishing ? 'Publishing...' : 'Publish'}}
          </button>
          <button class="btn btn-primary" type="button" *ngIf="application.isPublished === true" (click)="unPublishApplication()" [disabled]="isUnpublishing">
            {{isUnpublishing ? 'Unpublishing...' : 'Unpublish'}}
          </button>
          <span class="vert-pipe">&nbsp;</span>
          <button class="btn btn-icon" title="Remove this application from PRC" (click)="deleteApplication()" [disabled]="isDeleting">
            <i class="material-icons">
              delete
              </i>
          </button>
        </div>
        
        <!--
        <div class="title-container__actions">
          <button type="button" class="btn btn-light slide-l-btn" [routerLink]="['/a', application._id]" [disabled]="application._id === '0'">
            <i class="material-icons">info_outline</i>
            <span>Application Details</span>
          </button>
        </div>
        -->
        
      </div>
    </div>
  </div>
  
  <div class="bottom-container">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          
          <section class="main-card">
            <!-- Tabs -->
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="material-icons">
                    info
                  </i>
                  Application Information
                </ng-template>
                <ng-template ngbTabContent>
                  <section>
                    <h2>Description</h2>
                    <p class="mb-0" [innerHTML]="application.description || '<em>No application description available</em>'"></p>
                  </section>
                  <section>
                    <h2>Details</h2>
                    <ul class="nv-list">
                      <li>
                        <span class="name">Type / Subtype:</span>
                        <span class="value">{{application.type || '-'}} / {{application.subtype || '-'}}</span>
                      </li>
                      <li>
                        <span class="name">Status:</span>
                        <span class="value">{{application.appStatus || '-'}}</span>
                      </li>
                      <li>
                        <span class="name">Stage:</span>
                        <span class="value">{{application.tenureStage || '-'}}</span>
                      </li>
                      <li>
                        <span class="name">Agency:</span>
                        <span class="value">{{application.agency || '-'}}</span>
                      </li>
                      <li>
                        <span class="name">Business Unit:</span>
                        <span class="value">{{application.businessUnit || '-'}}</span>
                      </li>
                      <li>
                        <span class="name">Region:</span>
                        <span class="value">{{applicationService.getRegionString(applicationService.getRegionCode(application.businessUnit)) || '-'}}</span>
                      </li>
                      <li>
                        <span class="name">Location:</span>
                        <span class="value">{{application.location || '-'}}</span>
                      </li>
                      <li>
                        <span class="name">Total Area (hectares):</span>
                        <span class="value">{{application.areaHectares ? (application.areaHectares | number:'1.2-2') : '-'}}</span>
                      </li>
                      <!--
                      <li>
                        <span class="name"></span>
                        <span class="value"></span>
                      </li>
                      -->
                    </ul>
                  </section>
                  <section>
                    <h2>Documents</h2>
                    <ul class="doc-list">
                      <li *ngFor="let document of application.documents">
                        <span class="cell icon">
                          <i class="material-icons link" 
                            (click)="api.openDocument(document)">
                            insert_drive_file
                          </i>
                        </span>
                        <span class="cell name" [title]="document.displayName || ''">
                          <span class="cell__txt-content">
                          <a (click)="api.openDocument(document)">
                            {{document.documentFileName}}
                          </a>
                          </span>
                        </span>
                        <span class="cell actions">
                          <button type="button" class="btn btn-light btn-sm" (click)="api.downloadDocument(document)" title="Download this document">
                            <i class="material-icons">file_download</i>
                          </button>
                        </span>
                      </li>
                      <li class="no-results" *ngIf="!application.documents?.length > 0">
                        <em>No application documents</em>
                      </li>
                    </ul>
                  </section>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle>
                  <i class="material-icons">
                    pin_drop
                  </i>
                  Location
                </ng-template>
                <ng-template ngbTabContent>
                  <section>
                    <app-application-aside [application]="application"></app-application-aside>
                  </section>
                  <section>
                    <h2>Geographic Shape Data ({{application.features.length}})</h2>
                    <ul class="shapefile-list">
                      <li class="interest-id" *ngFor="let shape of application.features">
                        <span class="title">Interest ID: {{shape.properties.INTRID_SID}}</span>
                        <ul class="nv-list">
                          <li>
                            <span class="name">Type / Subtype:</span>
                            <span class="value">{{shape.properties.TENURE_TYPE || '-'}} / {{shape.properties.TENURE_SUBTYPE || '-'}}</span>
                          </li>
                          <li>
                            <span class="name">Area (hectares):</span>
                            <span class="value">
                              {{shape.properties.TENURE_AREA_IN_HECTARES ? (shape.properties.TENURE_AREA_IN_HECTARES | number:'1.2-2') : '-'}}
                            </span>
                          </li>
                          <li>
                            <span class="name">Legal Description:</span>
                            <span class="value" [innerHTML]="(shape.properties.TENURE_LEGAL_DESCRIPTION | newlines) || '-'"></span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </section>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </section>
  
        </div>
  
        <div class="col-md-4">
          <div class="aside-card">
            <h3 class="title">Public Review Details</h3>
            <div class="body" *ngIf="!application.currentPeriod">
              Not Open For Commenting
            </div>
            <div class="body" *ngIf="application.currentPeriod">
              <ul class="nv-list">
                <li>
                  <span class="name">Status:</span>
                  <span class="value">{{application['cpStatus']}}</span>
                </li>
                <li>
                  <span class="name">Start Date:</span>
                  <span class="value">{{application.currentPeriod.startDate | date:'longDate'}}</span>
                </li>
                <li>
                  <span class="name">End Date:</span>
                  <span class="value">{{application.currentPeriod.endDate | date:'longDate'}}</span>
                </li>
              </ul>
              <div class="btn-container">
                <button class="cta-btn btn btn-sm btn-outline-primary" type="button" 
                  [routerLink]="['/comments', application._id]">
                  Review Comments ({{application['numComments']}})
                </button>
              </div>
            </div>
          </div>
          <div class="aside-card">
            <h3 class="title">Application Decision</h3>
            <div class="body">
              <div *ngIf="!application.decision">
                <p class="mb-0">No decisions have been made for this application at this time.</p>
              </div>
              <div *ngIf="application.decision">
                <div [innerHTML]="(application.decision.description | newlines) || '<em>No decision description available</em>'"></div>
                <ul class="doc-list">
                  <li *ngFor="let document of application.decision.documents">
                    <span class="cell icon">
                      <i class="material-icons link" 
                        (click)="api.openDocument(document)">
                        insert_drive_file
                      </i>
                    </span>
                    <span class="cell name" [title]="document.displayName || ''">
                        <span class="cell__txt-content">
                          <a (click)="api.openDocument(document)">
                            {{document.documentFileName}}
                          </a>
                        </span>
                    </span>
                    <span class="cell actions">
                      <button class="btn btn-icon" title="Download this document"
                        (click)="api.downloadDocument(document)">
                        <i class="material-icons">file_download</i>
                      </button>
                    </span>
                  </li>
                  <li class="no-results" *ngIf="!application.decision?.documents.length > 0">
                    <em>No decision documents</em>
                  </li>
                </ul>
              </div>
              <div class="btn-container">
                <button class="cta-btn btn btn-sm btn-outline-primary" type="button" 
                  [routerLink]="['/a', application._id, 'edit']" 
                  fragment="appDecision">
                  <i class="material-icons">
                    add
                  </i>
                  Add/Edit Decision
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="application-detail" style="display: none;" *ngIf="false">
    <div class="container" *ngIf="application">
  
      <div class="row">
        <main class="col-lg-8">
  
          <!-- HEADER -->
          <section class="card bg-dark">
            <h2 class="mb-0">{{application.client || '-'}}</h2>
            <div>{{application.purpose || '-'}} / {{application.subpurpose || '-'}}</div>
            <ul class="application-detail__list">
              <li>CL File: {{application.cl_file || '-'}}</li>
              <li>Disp ID: {{application.tantalisID || '-'}}</li>
            </ul>
          </section>
  
          <!-- BASIC INFORMATION -->
          <section class="card bg-light">
            <h3>Basic Information</h3>
  
            <div *ngIf="!application.features || application.features.length === 0">
              <em>No features have been loaded.</em>
            </div>
  
            <div *ngIf="application.features?.length > 0">
              <ul class="application-detail__list">
                <li class="pt-0">
                  <span class="name">Type / Subtype</span>
                  <span class="value">{{application.type || '-'}} / {{application.subtype || '-'}}</span>
                </li>
                <li class="pt-0">
                  <span class="name">Status</span>
                  <span class="value">{{application.appStatus || '-'}}</span>
                </li>
                <li>
                  <span class="name">Stage</span>
                  <span class="value">{{application.tenureStage || '-'}}</span>
                </li>
                <li>
                  <span class="name">Agency</span>
                  <span class="value">{{application.agency || '-'}}</span>
                </li>
              </ul>
              <hr>
              <ul class="application-detail__list">
                <li class="pt-0">
                  <span class="name">Business Unit</span>
                  <span class="value">{{application.businessUnit || '-'}}</span>
                </li>
                <li class="pt-0">
                  <span class="name">Region</span>
                  <span class="value">{{applicationService.getRegionString(applicationService.getRegionCode(application.businessUnit)) || '-'}}</span>
                </li>
                <li>
                  <span class="name">Location</span>
                  <span class="value">{{application.location || '-'}}</span>
                </li>
                <li>
                  <span class="name">Total Area (hectares)</span>
                  <span class="value">{{application.areaHectares ? (application.areaHectares | number:'1.2-2') : '-'}}</span>
                </li>
              </ul>
            </div>
          </section>
  
          <!-- APPLICATION -->
          <section class="card bg-light">
            <h3 class="mb-4">Application</h3>
            <section>
              <h4 class="mb-1">Description</h4>
              <p [innerHTML]="(application.description | newlines) || '-'"></p>
            </section>
  
            <!-- APPLICATION DOCUMENTS -->
            <section class="application-detail__documents mt-1">
              <h4 class="mb-3">Application Documents</h4>
  
              <div *ngIf="!application.documents || (application.documents | published).length === 0">
                <em>This application has no documents.</em>
              </div>
  
              <!-- Application Document List -->
              <ul class="doc-list">
                  <li *ngFor="let document of application.documents | published">
                  <span class="cell icon">
                    <i class="material-icons">insert_drive_file</i>
                  </span>
                  <span class="cell name" [title]="document.displayName || ''">
                    <span class="cell__txt-content">
                        {{document.documentFileName}}
                    </span>
                  </span>
                  <span class="cell actions">
                    <button type="button" class="btn btn-light btn-sm" (click)="api.downloadDocument(document)" title="Download this document">
                      <i class="material-icons">file_download</i>
                    </button>
                    <button type="button" class="btn btn-light btn-sm" (click)="api.openDocument(document)" title="Open this document" [hidden]="api.isMS">
                      <i class="material-icons">open_in_new</i>
                    </button>
                  </span>
                </li>
              </ul>
            </section>
          </section>
  
          <!-- DECISION -->
          <section class="card bg-light">
            <h3 class="mb-4">Decision</h3>
  
            <div *ngIf="!application.decision || !application.decision.isPublished">
              <em>No decisions have been made for this application at this time.</em>
            </div>
  
            <!-- only display published decision -->
            <section *ngIf="application.decision && application.decision.isPublished">
              <section>
                <h4 class="mb-1">Description</h4>
                <p [innerHTML]="(application.decision.description | newlines) || '-'"></p>
              </section>
  
              <!-- DECISION DOCUMENTS -->
              <section class="application-detail__documents mt-1">
                <h4 class="mb-3">Decision Documents</h4>
  
                <div *ngIf="!application.decision.documents || (application.decision.documents | published).length === 0">
                  <em>This decision has no documents.</em>
                </div>
  
                <!-- Decision Document List -->
                <ul class="doc-list">
                    <li *ngFor="let document of application.decision.documents | published">
                    <span class="cell icon">
                      <i class="material-icons">insert_drive_file</i>
                    </span>
                    <span class="cell name" [title]="document.displayName || ''">
                        <span class="cell__txt-content">
                          {{document.documentFileName}}
                        </span>
                    </span>
                    <span class="cell actions">
                      <button class="btn btn-light btn-sm" (click)="api.downloadDocument(document)" title="Download this document">
                        <i class="material-icons">file_download</i>
                      </button>
                      <button class="btn btn-light btn-sm" (click)="api.openDocument(document)" title="Open this document" [hidden]="api.isMS">
                        <i class="material-icons">open_in_new</i>
                      </button>
                    </span>
                  </li>
                  <li class="no-results" *ngIf="!application.decision.documents || (application.decision.documents | published).length === 0">
                      This decision has no documents.
                  </li>
                </ul>
              </section>
            </section>
          </section>
  
          <!-- GEOGRAPHIC SHAPE DATA -->
          <section class="geo-shape-data card bg-light">
            <div class="title-container">
              <h3 class="title-container__title mb-0">Geographic Shape Data</h3>
  
              <div class="title-container__actions">
                <button type="button" class="btn btn-white slide-r-btn" disabled aria-disabled="true">
                  <span>See on map</span>
                  <i class="material-icons">place</i>
                </button>
              </div>
            </div>
            <span *ngIf="application.features">This application has <strong>{{application.features.length}}</strong> shape {{application.features.length === 1 ? 'file' : 'files'}}.</span>
            <div class="geo-shape-data__list">
              <section class="pt-3" *ngFor="let shape of application.features">
                <h4 class="mb-3">Interest ID: {{shape.properties.INTRID_SID}}</h4>
                <ul class="nv-list">
                  <li>
                    <span class="name">Type / Subtype</span>
                    <span class="value">{{shape.properties.TENURE_TYPE || '-'}} / {{shape.properties.TENURE_SUBTYPE || '-'}}</span>
                  </li>
                  <li>
                    <span class="name">Area (ha)</span>
                    <span class="value">
                      {{shape.properties.TENURE_AREA_IN_HECTARES ? (shape.properties.TENURE_AREA_IN_HECTARES | number:'1.2-2') : '-'}}
                    </span>
                  </li>
                  <li>
                    <span class="name">Legal Description</span>
                    <span class="value" [innerHTML]="(shape.properties.TENURE_LEGAL_DESCRIPTION | newlines) || '-'"></span>
                  </li>
                </ul>
              </section>
            </div>
          </section>
        </main>
  
        <aside class="col-lg-4">
          <app-application-aside [application]="application"></app-application-aside>
        </aside>
  
      </div>
    </div>
  </div>