@import "~assets/styles/base/base.scss";

:host {
  @include flex-box();
  @include flex-direction(column);
  @include flex(1 1 auto);
  overflow: hidden;
}

.aside-card {
  background: #fff;
  //box-shadow: 0.05rem 0.05rem 0.2rem rgba(#000, 0.2);

  + .aside-card {
    margin-top: 1.5rem;
  }

  .title {
    margin-bottom: 0;
    padding: 1rem;
    background: #f1f1f1;
    font-size: 0.9375rem;
    font-weight: 700;
  }

  .body {
    padding: 1rem;
  }

  .btn {
    display: inline-block;
    margin-top: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    min-width: 10rem;
  }

  .nv-list {
    border: none;

    li {
      border: none;
      padding: 0.2rem 0;
    }

    span.name {
      flex: 0 0 6rem;
    }
  }
}

.vert-pipe {
  margin-left: 1rem;
  margin-right: 0.25rem;
  display: inline-block;
  width: 1px;
  border-left: 1px solid #999;
  vertical-align: middle;
}

h2 {
  margin-bottom: 1rem;
  letter-spacing: -0.02rem;
  font-size: 1.4rem;
  font-weight: 400;
}

section {
  + section {
    margin-top: 3rem;
  }
}

.doc-list {
  border-bottom: 1px solid #ddd;

  li {
    border-top: 1px solid #ddd;
    background: #fff;
  };
}

.nv-list {
  border-bottom: 1px solid #ddd;

  li {
    @include flex-box();
    padding: 0.4rem 0.75rem;
    border-top: 1px solid #ddd;
    background: #fff;
  }

  span.name {
    @include flex(0 0 12rem);
    margin: 0;
  }

  span.value {
    @include flex(1 1 auto);
  }
}

.shapefile-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .interest-id {
    background: #f7f8fa;

    .title {
      display: block;
      padding: 0.5rem 0.75rem;
      font-size: 0.9375rem;
      font-weight: 600;
    }
  }
}